body {
  margin: 0;
}

.dark .semi-navigation {
  background-color: #181717;
}

.semi-navigation {
  background-color: #F7F5F4;
}

@media only screen and (max-width: 768px) {
  .milkdown .ProseMirror {
    padding: 16px 8px;
  }
}

@media only screen and (max-width: 1024px) {
  .milkdown .ProseMirror {
    padding: 32px 32px;
  }
}