body {
  margin: 0;
}

.dark .semi-navigation {
  background-color: #181717;
}

.semi-navigation {
  background-color: #F7F5F4;
}

.milkdown .ProseMirror {
  padding: 120px 60px;
}

@media only screen and (min-width: 1024px) {
  .milkdown .ProseMirror {
    padding: 160px 180px;
  }
}

@media only screen and (min-width: 1280px) {
  .milkdown .ProseMirror {
    padding: 190px 240px;
  }
}